.intro__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 12px;
  line-height: 18px;
  font-weight: bold;
  text-align: start;
  list-style-type: none;
  padding: 0;
}
