.place__title {
  width: 46.75%;
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: bold;
}

@media (max-width: 1024px) {

  .place__title {
    width: 47.41%;
  }

}

@media (max-width: 768px) {

  .place__title {
    width: 72.92%;
    font-size: 42px;
    line-height: 46px;
  }

}

@media (max-width: 430px) {

  .place__title {
    width: 90%;
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }
}

/* @media (max-width: 320px) {

  .place__title {
    width: 90%;
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
  }
} */

