.place__paragraphs {

}
/*
@media (max-width: 1024px) {

  .place__paragraphs {
    width: 49.14%;

  }

}

@media (max-width: 768px) {

  .place__paragraphs {
    width: 48.89%;
  }

}

@media (max-width: 320px) {

  .place__paragraphs {
    width: 90%;
  }
} */
