.header {
  width: 92.5%;
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 56px;
  padding-top: 28px;
}

@media (max-width: 1024px) {

  .header {
   width: calc(100% - 96px);
    /* width: 90.63%; */
    margin: 0 auto 48px;
  }

}


@media (max-width: 768px) {

  .header {
    width: calc(100% - 48px);
   /* width: 93.75%; */
  }

}


@media (max-width: 320px) {

  .header {
    min-width: 288px;
    /* min-width: calc(100% - 32px); */
    margin: 0 16px 48px;
    padding-top: 16px;
  }

}
