
@media screen and (max-width: 1024px) {

  .header {
    width: calc(100% - 96px);
    margin-bottom: 48px;
  }

  /* END BLOCK HEADER */

  .lead {
    width: calc(100% - 96px);
  }

  .lead__title {
    max-width: calc(100% - 304px);
  }

  .lead__subtitle {
    max-width: calc(100% - 384px);
    margin: 0 auto 56px;
  }

  .lead__image {
    width: 928px;
    height: 100%;
  }




  .photo-grid {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(4, minmax(min-content, max-content));
  }

  .photo-grid__item {
    /* width: 300px; */
  }

}






@media screen and (max-width: 768px) {

  .header {
    width: calc(100% - 48px);
    margin-bottom: 48px;
  }

  /* END BLOCK HEADER */

  .lead {
    width: 100%;
    margin: 0 auto 88px;
  }

  .lead__title {
    max-width: calc(100% - 48px);
  }


  .lead__subtitle {
    max-width: calc(100% - 128px);
    margin: 0 auto 56px;
  }

  .lead__image {
    width: auto;
    height: 100%;
  }

  .photo-grid {
    grid-template-columns: repeat(2, minmax(352px, 1fr));
    grid-template-rows: repeat(6, minmax(264px, 1fr));
  }

  .photo-grid__item {
    /* width: 352px; */
  }
}






@media screen and (max-width: 320px) {

  .header {
    width: calc(100% - 32px);
    padding-top: 16px;
    margin: 0 auto 48px;
  }

  .header__logo {
    width: 142px;
    height: 42px;
  }

  .header__lang-link {
    margin: 14px 0 8px;
  }

/* END BLOCK HEADER */

.lead {
  max-width: 100%;
  margin: 0 auto 64px;
}

.lead__title {
  width: calc(100% - 32px);
  margin: 0 auto 16px;
  font-size: 40px;
  line-height: 44px;
}


.lead__subtitle {
  width: calc(100% - 32px);
  margin: 0 auto 40px;
  font-size: 16px;
  line-height: 22px;
}





}
