.cover__title {
  font-size: 72px;
  line-height: 76px;
  font-weight: bold;
  text-align: center;
  /* overflow-wrap: break-word; */
  margin: 0 auto;
  z-index: 2;
}

  @media (max-width: 1024px) {

  .cover__title {
    /* max-width: calc(100% - 464px); */
  }

}


@media (max-width: 768px) {

  .cover__title {
     /* width: calc(100% - 208px); */
  }
}

@media (max-width: 340px) {

  .cover__title {
    font-size: 52px;
    line-height: 56px;
  }
}



@media (max-width: 320px) {

  .cover__title {
    /* width: calc(100% - 32px); */
    font-size: 32px;
    line-height: 35px;
  }
}
