.places__website {
  width: 46.34%;
  align-self: flex-end;
}


@media (max-width: 430px) {

  .places__website {
    margin-left: 16px;
  }
}

@media (max-width: 320px) {

  .places__website {
  display: none;
  }
}
